    body {
        max-width: 600px;
        padding: 0 10px;
        margin: auto;
        font: 15px/1.4 sans-serif;
        background: #eee;
    }
    a {
        color: blue;
        text-decoration: none;
    }
    a:hover { font-weight: bold; }
    a:focus, a:hover {
        background: #ddd;
    }
    a:active {
        background: #282;
        color: white;
    }
    li {
        margin: 5px;
    }
    pre  {
        font-size: 14px;
        padding: 2px;
        background: white;
        overflow-x: auto;
    }
    figure {
        max-width: 420px;
        border: thin #c0c0c0 solid;
        display: flex;
        flex-flow: column;
        padding: 5px;
        margin: auto;
    }
    .narrow  {
        max-width: 300px;
    }
    figcaption {
        font-size: smaller;
        padding-top: 5px;
        text-align: center;
    }
    .center {
        text-align: center;
    }
@media screen and (max-width: 500px) {
    figure  {
        max-width: 100%;
    }
}
  #contents {
    position: fixed;
    right: 8px; top: 8px;
  }
  #contents a:hover {
    font-weight: normal;
  }
  #menu1 {
    list-style-type: none;
    margin: 0;
    padding: 12px;
    background: honeydew;
    border: 1px solid;
  }
  button { cursor: pointer; }
  li { margin: 8px 0; }
  xs { font-size: x-small; }
@media screen and (min-width: 700px) {
  #buton { display: none; }
  #menu1 { display: block; }
}
