    body {
        max-width: 600px;
        padding: 0 10px;
        margin: auto;
        font: 15px/1.4 sans-serif;
        background: #dfd;
    }
    pre  {
        font-size: 14px;
        overflow-x: auto;
    }
    img  {
        width: 400px;
        border: 0;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .ayet {
        font-family: georgia, serif;
        color: green;
    }
    .large  {
        font-size: large;
    }
    .small  {
        font-size: small;
    }
    .monospace  {
        font-family: 'Courier New', Courier, monospace;
    }
    .center {
        text-align: center;
    }
    .goBack {
        background: #c9fdfd;
        cursor: pointer;
    }
    h2 .goBack {
        top: -6px;
        position: relative;
    }
@media screen and (max-width: 500px) {
    img  {
        width: 100%;
    }
}

