    body {
        max-width: 550px;
        padding: 0 10px;
        margin: auto;
        font: 15px/1.4 sans-serif;
        background: #eef;
    }
    pre  {
        font-size: 14px;
        overflow-x: auto;
    }
    figure {
        margin: 1em 0;
    }
    img  {
        width: 400px;
        border: 0;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    div img {
        display: inline;
    }
    img.narrow { width: 250px; }
    img.full { width: 100%; }
    .preWrap {
        white-space: pre-wrap;
    }
    .ayet {
        font-family: georgia, serif;
        color: green;
    }
    .large  {
        font-size: large;
    }
    .small  {
        font-size: small;
    }
    .monospace  {
        font-family: 'Courier New', Courier, monospace;
    }
    .center {
        text-align: center;
    }
    .caption {
        text-align: center;
        font-size: small;
    }
    .goBack, .goNext {
        position: relative;
        background: #c9fdfd;
        cursor: pointer;
    }
    h2 .goBack {
        top: -6px;
    }
    .goNext {
        top: -16px;
    }
@media screen and (max-width: 500px) {
    img  {
        width: 100%;
    }
}

