    body {
        max-width: 600px;
        padding: 0 10px;
        margin: auto;
        font: 15px/1.4 Arial, sans-serif;
        background: rgb(220, 240, 255);
    }
    a {
        color: blue;
        text-decoration: none;
    }
    a:focus, a:hover {
        background: #ddd;
    }
    a:active {
        background: #282;
        color: white;
    }
    li {
        margin: 5px;
    }
    pre  {
        font-size: 14px;
        padding: 2px;
        background: white;
        overflow-x: auto;
    }
    .pre {
        white-space: pre-line;
    }
    a[name] {
        font-family: georgia, serif;
        font-style: italic;
    }
    .it {
        font: 17px Times, serif;
        font-style: italic;
    }
    img  {
        max-width: 500px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .large  {
        max-width: 100%;
    }
    .center {
        text-align: center;
    }
    .goBack {
        background: #c9fdfd;
        cursor: pointer;
    }
    h2 .goBack {
        top: -6px;
        position: relative;
    }
    .meal {
        font-family: georgia, serif;
        font-style: italic;
        color: darkgreen;
    }
    .ayet { 
        font-family: Zekr, serif;
        font-size: 19px;
        line-height: 1.87;
        text-align: justify;
        direction: rtl;
      }
    iframe {
		width: clamp(400px, 100%, 560px);
		aspect-ratio: 16/9;
    }
    @font-face {
        font-family: Zekr;
        src: url("/Rehber/style/ZEKRQURAN.TTF");
    }
@media screen and (max-width: 500px) {
    img  {
        width: 100%;
    }
}
